[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
numpy = "*"
datetime = "*"
isocodes = "*"
api = "*"
pandas = "*"
streamlit = "*"
matplotlib = "*"
altair = "*"
seaborn = "*"
scipy = "*"
"chess.com" = "*"
chess = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
